# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: floogman <floogman@student.s19.be>         +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2020/08/10 08:00:14 by floogman          #+#    #+#              #
#    Updated: 2020/08/10 09:05:23 by floogman         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

.DS_Store
*.swp
*.o
*.a
obj/
minishell
bonus
*.dSYM
*.git-ign.*
.vscode
*.txt
minishell-tester
42TESTERS-MINISHELL
