# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: floogman <floogman@student.s19.be>         +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2020/08/01 12:19:14 by floogman          #+#    #+#              #
#    Updated: 2020/08/02 09:05:23 by floogman         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

.DS_Store
test
leaks.txt
bonus_leaks.txt
*.swp
*.a
obj/
libasm_test/
mlibasm_tester/
