# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: floogman <floogman@student.s19.be>         +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2020/09/14 09:55:22 by floogman          #+#    #+#              #
#    Updated: 2020/09/14 10:01:29 by floogman         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

# Misc
.DS_Store
.vscode
*.swp
